version: "3.9"

services:
  web:
    build: .
    ports:
      - "7070:7070"
    volumes:
      - .:/app
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:7070
      "
